{% extends 'account/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">

<body>

    {% block body %}

    <br>
    <br>
    <br>
    <br>
    <h3>アルバイト様向け教材</h3>
    <br>
    <hr>
    <br>
    <br>

    {% for post in posts %}
    <br>
    <h2 id="question">{{ post.title }}</h2>
    <br>
    <form action="{% url 'post-detail' post.id %}">
        <input type="submit" class="btn btn-primary" name="True" value="○" />
        <input type="submit" class="btn btn-primary" name="False" value="×" />
        <input type="submit" class="btn btn-primary" name="None" value="どちらでもない" />
        <br>
        <br>
    </form>
    <br>
    <hr>

    {% endfor %}
    <br>
    <br>

    <section id="result">
        <br>
        <br>
        <form action="{% url 'blog-parttimer' %}">
            <button type="submit" class="btn btn-primary">再回答する</button>       
        </form>
        <br>

        <button type="submit" class="btn btn-primary" id="btn2">スコア確認</button>
        <br>
        <h2></h2>
    </section>
    <br>
    <br>
    <br>

    <script>
        const btn = document.querySelector('#btn2');
        const result = document.querySelector('#result > h2');

        let score = 0;

        btn.addEventListener('click', () => {
            result.textContent = `Score: 3 / 3`;
        });

    </script>

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <hr />
                        <ul class="footer-links">
                            <a href="{% url 'post-admin' %}">管理者ページへ</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <ul class="footer-links">
                            <li><a href="{% url 'signup' %}">Sign Up</a></li>
                            <li><a href="{% url 'login' %}">Log In</a></li>
                            <li><a href="{% url 'logout' %}">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>


    {% endblock body %}

</body>